/*Variables for Keyframes Height(Temp)
----------------------------------------*/
:root {
  --probab : xpx;
  --geoa : ypx;
  --prokom : zpx;
  --kalut : apx;
}
/*Scripting Needs and Keyframes
----------------------------------------*/
.hidden {
  height: 0;
  overflow : hidden;
}
.minimized1 {
  overflow : hidden;
  animation : probab-hiding 1s ease-in-out;
  /* animation :  1s linear; */
  height : 0;
}
.expanded1 {
  overflow : hidden;
  animation : probab-expanding 1s ease-in-out;
  height : var(--probab);
}
.minimized2 {
  overflow : hidden;
  animation : geoa-hiding 1s ease-in-out;
  /* animation :  1s linear; */
  height : 0;
}
.expanded2 {
  overflow : hidden;
  animation : geoa-expanding 1s ease-in-out;
  height : var(--geoa);
}
.minimized3 {
  overflow : hidden;
  animation : prokom-hiding 1s ease-in-out;
  /* animation :  1s linear; */
  height : 0;
}
.expanded3 {
  overflow : hidden;
  animation : prokom-expanding 1s ease-in-out;
  height : var(--prokom);
}
.minimized4 {
  overflow : hidden;
  animation : kalut-hiding 1s ease-in-out;
  /* animation :  1s linear; */
  height : 0;
}
.expanded4 {
  overflow : hidden;
  animation : kalut-expanding 1s ease-in-out;
  height : var(--kalut);
}


@keyframes probab-hiding {
  from {
    height : var(--probab);
  }
  to {
    height : 0;
  }
}
@keyframes probab-expanding {
  from {
    height : 0;
  }
  to {
    height : var(--probab);
  }
}

@keyframes geoa-hiding {
  from {
    height : var(--geoa);
  }
  to {
    height : 0;
  }
}
@keyframes geoa-expanding {
  from {
    height : 0;
  }
  to {
    height : var(--geoa);
  }
}

@keyframes prokom-hiding {
  from {
    height : var(--prokom);
  }
  to {
    height : 0;
  }
}
@keyframes prokom-expanding {
  from {
    height : 0;
  }
  to {
    height : var(--prokom);
  }
}

@keyframes kalut-hiding {
  from {
    height : var(--kalut);
  }
  to {
    height : 0;
  }
}
@keyframes kalut-expanding {
  from {
    height : 0;
  }
  to {
    height : var(--kalut);
  }
}
/*Page-Wide Styling
----------------------------------------*/
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin : 0 auto;
  color : #F3E5E5;
  font-size : 1rem;
  background : #323232;
}
h1, h2, h3, h4 {
  margin : 0 auto;
}
/*Titles
----------------------------------------*/
.main-header h1 {
  background : #191919;
  color : #eee;
  padding : 1rem;
  text-align : center;
  font-size : 1.5rem;
  font-weight : 600;
}
h2 {
  font-size : 1.2rem;
  font-weight : 600;
}
h3 {
  font-size : 1rem;
  font-weight : 600;
}
h4 {
  font-weight : 600;
}
.meet li {
  margin : 0.4rem auto;
}
header p {
  /* margin : 0 auto; */
  background : #191919;
  text-align : center;
  padding-bottom : 0.6rem;
}
header p:hover {
  opacity : 0.8;
}
/*Main Content Container
----------------------------------------*/
.main-container {
  background : #323232;
  margin : 0 auto;
  width : 90%;
  max-width : 800px;
}
/*Subjects
----------------------------------------*/
.subject-title {
  padding : 0.5rem;
  margin : 0 auto;
}
.subject-title a {
  color : #F3E5E5;
  text-decoration: none;
}
.subject-title a:hover {
  opacity: 0.8;
}
/*Lists
----------------------------------------*/
ol {
  margin : 0 auto;
}
.subject {
  margin-top : 1rem;
}
.subject a {
  color : ivory;
  text-decoration: none;
  margin : 0 auto;
  padding : 0.2rem;
  background : #555;
  border-radius: 0.3rem;
}
.subject a:hover {
  opacity : 0.7;
}
.note {
  margin : 0 auto;
  font-size : 0.9rem;
}
.no-margin {
  margin : 0 auto;
}
.subject-info {
  list-style-type: none;
  margin-left : 0;
  padding-left : 1rem;
}
/*Class Items
----------------------------------------*/
.meet-number {
  animation: height 3s;
}
.meet-items a {
  color : ivory;
  text-decoration: none;
  margin : 0 auto;
  padding : 0.2rem;
  background : #555;
  border-radius: 0.3rem;
}